@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*Tela Menor (Responsiva)*/
@media (max-width: 759px) {
  /*Geral*/

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e7e7e7;
  }

  .ancora-logo {
    z-index: 1;
    position: absolute;
    display: flex;
    margin-top: 10px;
    height: 40px;
  }

  fieldset {
    border: none;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }

  fieldset:nth-child(7) {
    padding-top: 15px;
    gap: 15px;
    padding-left: 0px;
  }

  form {
    display: flex;
    align-items: center;
  }

  #esqsenha {
    margin: 5px 0;
    padding-top: 0px;
    font-size: 15px;
    color: #a50c0c;
    text-decoration: none;
  }

  #cadastro {
    display: flex;
    justify-content: center;
  }

  .container {
    position: relative;
    width: 760px;
    height: 1030px;
    background: #cecece;
    box-shadow: 0px 0px 10px 3px #0000004b;
  }

  .container form {
    position: absolute;
    inset: 4px;
    padding: 70px 40px;
    display: flex;
    flex-direction: column;
  }

  .container form h1 {
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-top: 15px;
  }

  .div-logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 40px;
  }

  /*Cadastro*/
  .campo-cadastro {
    position: relative;
    width: 300px;
    margin-top: 15px;
  }

  .campo-cadastro input {
    outline: none;
    border: none;
    padding: 15px 10px 10px;
    background: transparent;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    width: 100%;
  }

  .campo-cadastro span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  .campo-cadastro input:valid ~ span,
  .campo-cadastro input:focus ~ span {
    color: #cecece;
    font-size: 0.75em;
    transform: translateY(-30px);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  .campo-cadastro i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
  }

  .campo-cadastro input:valid ~ i,
  .campo-cadastro input:focus ~ i {
    height: 38px;
  }

  .links {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }

  .links a {
    margin: 10px 0;
    font-size: 15px;
    color: #a50c0c;
    text-decoration: none;
  }

  .links a:hover,
  .links a:nth-child(2) {
    color: red;
  }

  .botao-cadastro {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #de0d0d;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 14px;
    font-weight: 600;
    width: 65%;
    margin-top: 10px;
    box-shadow: 4px 5px 5px #00000047;
  }
  .botao-cadastro:hover {
    background: #b31a1a;
  }

  .botao-cadastro:active {
    opacity: 0.8;
  }

  .campo-cadastro-select span {
    color: rgba(0, 0, 0, 0.54);
  }

  .campo-cadastro-select input {
    background: transparent;
    border: none;
  }

  .campo-cadastro-select label {
    font-size: 13px;
  }

  .label-campo-cadastro {
    color: rgba(0, 0, 0, 0.54);
  }

  /*Login*/
  .container-login {
    position: relative;
    width: 380px;
    height: 445px;
    border-radius: 15px;
    background: #cecece;
    box-shadow: 0px 0px 10px 3px #0000004b;
  }

  .container-login form {
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }

  .campo-login-select {
    padding-right: 132px;
    padding-top: 10px;
  }

  .container-login form h1 {
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
  }

  .links-login {
    padding-top: 20px;
  }

  .links-login a {
    margin: 10px 0;
    font-size: 15px;
    color: #a50c0c;
    text-decoration: none;
  }

  .links-login a:hover,
  .links-login a:nth-child(2) {
    color: red;
  }

  .botao-login {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #de0d0d;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    box-shadow: 4px 5px 5px #00000047;
  }

  .botao-login:hover {
    background: #b31a1a;
  }
  .botao-login:active {
    opacity: 0.8;
  }

  .botao-limpar {
    height: 20px;
    outline: none;
    border: none;
    background: #de0d0dca;
    color: #fff;
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 14px;
    font-weight: 600;
    width: 30%;
    margin-top: 5px;
    box-shadow: 4px 5px 5px #00000047;
  }

  .botao-limpar:hover {
    background: #de0d0de5;
  }

  body.recsenha-html .botao-limpar {
    margin-top: 5px;
  }

  .container-login form h1 {
    margin-top: 17px;
  }
}

/*Tela Normal*/
@media (min-width: 760px) {
  /*Geral*/
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e7e7e7;
  }

  .ancora-logo {
    z-index: 1;
    position: absolute;
    display: flex;
    height: 2.6rem;
  }

  .div-logo {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    height: 40px;
  }

  #esqsenha {
    margin: 5px 0;
    padding-top: 0px;
    font-size: 15px;
    color: #a50c0c;
    text-decoration: none;
  }

  #cadastro {
    display: flex;
    justify-content: center;
  }

  fieldset {
    border: none;
    display: flex;
    gap: 50px;
  }

  fieldset:nth-child(7) {
    padding-top: 20px;
    gap: 170px;
    padding-left: 65px;
  }

  /*A partir daqui é Tela de Cadastro*/
  .container {
    position: relative;
    width: 760px;
    height: 690px;
    border-radius: 15px;
    background: #cecece;
    box-shadow: 0px 0px 10px 3px #0000004b;
  }

  .container form {
    position: absolute;
    inset: 4px;
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
  }

  .container form h1 {
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-top: 12px;
  }

  .campo-cadastro {
    position: relative;
    width: 300px;
    margin-top: 15px;
  }

  .campo-cadastro input {
    outline: none;
    border: none;
    padding: 15px 10px 10px;
    background: transparent;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
    width: 100%;
  }

  .campo-cadastro span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: rgba(0, 0, 0, 0.54);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  .campo-cadastro input:valid ~ span,
  .campo-cadastro input:valid ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-30px);
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }

  .campo-cadastro i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
  }

  .campo-cadastro input:valid ~ i,
  .campo-cadastro input:focus ~ i {
    height: 38px;
    color: #a50c0c;
  }

  .links {
    padding-top: 15px;
    display: flex;
    justify-content: center;
  }

  .links a {
    margin: 10px 0;
    font-size: 15px;
    color: #a50c0c;
    text-decoration: none;
  }

  .links a:hover,
  .links a:nth-child(2) {
    color: red;
  }

  .botao-cadastro {
    height: 45px;
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #de0d0d;
    color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 14px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    box-shadow: 4px 5px 5px #00000047;
  }
  .botao-cadastro:hover {
    background: #9b1c1c;
  }

  .botao-cadastro:active {
    opacity: 0.8;
  }

  .botao-limpar {
    height: 20px;
    outline: none;
    border: none;
    background: #de0d0dca;
    color: #fff;
    cursor: pointer;
    font-size: 0.7rem;
    border-radius: 14px;
    font-weight: 600;
    width: 30%;
    margin-left: 35%;
    margin-top: 5px;
    box-shadow: 4px 5px 5px #00000047;
  }

  .botao-limpar:hover {
    background: #de0d0de5;
  }

  .campo-cadastro-select span {
    color: rgba(0, 0, 0, 0.54);
  }

  .campo-cadastro-select input {
    background: transparent;
    border: none;
  }

  .campo-cadastro-select label {
    font-size: 13px;
  }

  .label-campo-cadastro {
    color: rgba(0, 0, 0, 0.54);
  }

  /*A partir daqui é Tela de Login*/
  .container-login {
    position: relative;
    width: 380px;
    height: 420px;
    border-radius: 15px;
    background: #cecece;
    box-shadow: 0px 0px 10px 3px #0000004b;
  }

  .container-login form {
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
  }

  .container-login form h1 {
    color: black;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    padding-top: 12px;
    margin-bottom: -15px;
  }

  .links-login {
    padding-top: 20px;
  }

  .links-login a {
    margin: 10px 0;
    font-size: 15px;
    color: #a50c0c;
    text-decoration: none;
  }

  .links-login a:hover,
  .links-login a:nth-child(2) {
    color: red;
  }

  .botao-login {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #de0d0d;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
    box-shadow: 4px 5px 5px #00000047;
  }

  .botao-login:hover {
    background: #b31a1a;
  }

  .botao-login:active {
    opacity: 0.8;
  }

  /*Apartir daqui tela de recuperar senha*/

  .botao-recsenha {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #de0d0d;
    color: #fff;
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 15px;
    font-weight: 600;
    width: 100%;
    margin-top: 50px;
    box-shadow: 4px 5px 5px #00000047;
  }

  .botao-recsenha:hover {
    background: #b31a1a;
  }
  .botao-recsenha:active {
    opacity: 0.8;
  }

  body.recsenha-html .botao-limpar {
    margin-top: 25px;
  }
}

/*Apartir daqui tela de recuperar senha*/

.botao-recsenha {
  border: none;
  outline: none;
  padding: 9px 25px;
  background: #de0d0d;
  color: #fff;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 15px;
  font-weight: 600;
  width: 100%;
  margin-top: 50px;
  box-shadow: 4px 5px 5px #00000047;
}

.botao-recsenha:hover {
  background: #b31a1a;
}
.botao-recsenha:active {
  opacity: 0.8;
}

#alerta {
  position: absolute;
  margin-top: 30%;
  /*opacity: 0;*/
}


